.notFound {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    @include container();
  }

  &__title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 8%;
    @include color();
    @include font42();
    @include responsive(sm) {
      @include font32();
      @include responsive(xs) {
        @include font28();
      }
    }
  }

  &__button {
    width: 100%;
    text-align: center;

    &--layout {
      @include button();
      padding: 3.5% 8%;
      @include responsive(sm) {
        width: 80%;
      }
    }
  }
}
