.personalDetails {
  margin: 5% 0;
  &__container {
    @include container();
  }

  &__title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1%;
    @include color();
    @include font50();
    @include responsive(sm) {
      @include font40();
      @include responsive(xs) {
        @include font30();
      }
    }
  }

  &__lead {
    text-align: center;
    font-weight: bold;
    margin-bottom: 3%;
    @include sub__color();
    @include font20();
    @include responsive(sm) {
      margin-bottom: 6%;
      @include font10();
    }
  }

  &__wrapper {
    @include container();
    @include responsive(md) {
      margin: 0;
    }
  }

  &__richEditor {
    width: 60%;
    margin: 5% auto;
    padding: 3%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    @include responsive(sm) {
      margin: 5% 0 10% 0;
    }
    @include responsive(xxxxl) {
      width: 80%;
      @include responsive(xl) {
        width: 100%;
        @include responsive(sm) {
          padding: 6%;
        }
      }
    }

    .fontStyle__p {
      margin: 2% 0 4% 0;
      @include color();
      @include font18();
      @include responsive(sm) {
        @include font14();
        @include responsive(xs) {
          @include font12();
        }
      }
    }

    h1 {
      font-weight: bold;
      @include color();
      @include font28();
      @include responsive(sm) {
        @include font20();
        @include responsive(xs) {
          @include font18();
        }
      }
    }

    p {
      @extend .fontStyle__p;
    }

    &--emphasis {
      color: #d12e2e;
      font-weight: bolder;
    }

    ul {
      margin: 5% 0;
    }

    ol {
      margin-bottom: 5%;
    }

    li {
      padding: 10px 0;
      @include color();
      border-bottom: 1px solid;
      display: flex;
      font-size: 1.6em;
    }

    table img {
      width: 320px;
      height: 250px;
      @include responsive(xxxxxxxl) {
        width: 275px;
        @include responsive(xxxxxxl) {
          width: 255px;
          @include responsive(xxxxxl) {
            width: 235px;
            @include responsive(xxxxl) {
              width: 90%;
              margin: auto;
              @include responsive(xl) {
                margin: 5% 0;
                width: 100vh;
                @include responsive(sm) {
                  width: 80%;
                  height: 60%;
                  margin: 5% auto;
                }
              }
            }
          }
        }
      }
    }

    table {
      width: 100%;
      margin-bottom: 5%;
    }

    tr {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include responsive(xl) {
        flex-direction: column;
      }
    }

    th p {
      width: 520px;
      @extend .fontStyle__p;
      @include responsive(xxxxxl) {
        width: 370px;
        @include responsive(xxxl) {
          width: 330px;
          @include responsive(xxl) {
            width: 300px;
            @include responsive(xl) {
              width: 100%;
            }
          }
        }
      }
    }
  }

  &__button {
    text-align: center;
    &--layout {
      @include button();
      @include responsive(sm) {
        padding: 5% 13%;
      }
    }
  }
}
