.personal {
  margin: 5% 0;
  @include responsive(xl) {
    margin: 0;
    height: 80vh;
    @include flex();
    @include responsive(sm) {
      display: block;
      height: auto;
    }
  }

  &__container {
    @include container();
  }

  &__title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1%;
    @include color();
    @include font50();
    @include responsive(sm) {
      @include font40();
      @include responsive(xs) {
        @include font30();
      }
    }
  }

  &__lead {
    text-align: center;
    font-weight: bold;
    margin-bottom: 3%;
    @include sub__color();
    @include font20();
    @include responsive(sm) {
      margin-bottom: 6%;
      @include font10();
    }
  }

  &__wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: normal;
    @include flex();
    @include container();
    &::after {
      content: '';
      display: block;
      width: 30%;
    }
    @include responsive(xl) {
      margin: 0;
      @include responsive(sm) {
        display: block;
      }
    }
  }

  &__card {
    margin-top: 3%;
    width: 30%;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: translateY(-3px);
    }

    @include responsive(sm) {
      display: block;
      width: 100%;
      margin-bottom: 7%;
    }

    &--image {
      width: 100%;
    }

    &--lead {
      text-align: center;
      font-weight: bold;
      margin-top: 3%;
      @include color();
      @include font20();
    }

    &--error {
      height: 60vh;
      display: flex;
      align-items: center;
      justify-content: center;
      @include font40();
      @include responsive(sm) {
        @include font26();
        @include responsive(xs) {
          @include font20();
        }
      }
    }
  }
}
