.skill {
  margin: 10% 0 5% 0;
  &__container {
    @include container();
  }

  &__title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1%;
    @include color();
    @include font50();
    @include responsive(sm) {
      @include font40();
      @include responsive(xs) {
        @include font30();
      }
    }
  }

  &__lead {
    text-align: center;
    font-weight: bold;
    margin-bottom: 3%;
    @include sub__color();
    @include font20();
    @include responsive(sm) {
      @include font10();
      margin-bottom: 6%;
    }
  }

  &__wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
    @include flex();
    @include responsive(sm) {
      display: block;
    }
  }

  &__table {
    width: 45%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 3%;
    padding-bottom: 5%;
    background-color: white;
    text-align: center;
    @include responsive(sm) {
      width: 100%;
      @include responsive(sm) {
        margin-top: 8%;
      }
    }

    caption {
      text-align: center;
      background-color: white;
      padding: 5%;
      font-weight: bold;
      @include font26();
      @include color();
      @include responsive(xl) {
        @include font20();
        @include responsive(md) {
          @include font14();
        }
      }
    }

    tr {
      width: 100%;
    }

    th {
      text-align: center;
      border: none;
      padding-bottom: 6%;
      width: 50%;
      @include font20();
      @include responsive(xl) {
        @include font18();
        @include responsive(md) {
          @include font12();
        }
      }
    }

    td {
      border: none;
      padding-bottom: 6%;
      width: 50%;
      @include font16();
      @include responsive(xl) {
        @include font14();
        @include responsive(md) {
          @include font12();
        }
      }
    }
  }
}
