.works {
  margin: 5% 0;
  &__container {
    @include container();
  }

  &__title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1%;
    @include color();
    @include font50();
  }

  &__lead {
    text-align: center;
    font-weight: bold;
    margin-bottom: 3%;
    @include sub__color();
    @include font20();
  }

  &__wrapper {
    @include flex();
    justify-content: space-evenly;
  }

  &__card {
    width: 40%;
    padding: 9% 7%;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: translateY(-3px);
    }

    &--personal {
      background-image: url('/public/images/personal.webp');
    }

    &--business {
      background-image: url('/public/images/business.webp');
    }

    &--wrapper {
      padding: 5% 0 7% 0;
      background-color: rgba(255, 255, 255, 0.8);
    }

    &--heading {
      font-weight: bold;
      @include color();
      @include font34();
    }
    &--lead {
      @include color();
      @include font18();
    }
  }
}
